.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  background-color: #f9f9f9;
  width: 100%;
  padding-bottom: 72px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 34px;
  flex: 1 1 0;
  width: 100%;
  margin: auto;
  padding-top: 32px;
  justify-content: start;
  min-height: 0;
  max-width: var(--main-width);
  @media (max-width: 1229px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contentContainer {
  display: flex;
  gap: 34px;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 0;

  @media (max-width: 959px) {
    flex-direction: column;

    height: max-content;
    max-height: none;
    min-height: 100%;
  }
}

.pageContent {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-height: 100%;
  width: 100%;
  min-height: 0;

  @media (max-width: 959px) {
    gap: 20px;
    height: max-content;
    max-height: none;
    min-height: 100%;
  }
}

.title {
  font-size: 32px;
  font-weight: bold;
  line-height: 150%;
}
