.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label {
  font-size: 14px;
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 12px 12px;
  font-size: 0.875rem;
  border: 1px solid #ccc;
  border-radius: var(--border-input-radius);
  background: white;
  outline: none;
  transition: border-color var(--transition-fast);
  line-height: 100%
}

.input::placeholder {
  color: var(--color-muted);
  font-size: 0.875rem;
  line-height: 100%
}

.input:focus {
  border-color: var(--color-primary);
}
